<script lang="ts" setup>
import { marked } from 'marked'

const route = useRoute()
const graphql = useStrapiGraphQL()

const { data } = await graphql(`
  query {
    post(id: ${route.params.id}) {
      data {
        id
        attributes {
          title
          content
        }
      }
    }
  }
`)

const post = computed(() => {
  return data.post.data.attributes
})
</script>

<template>
  <div>
      <h1>{{ post.title }}</h1>
      <div v-html="marked(post.content)"></div>
  </div>
</template>
