<script lang="ts" setup>
import { parseObjectList } from '~~/lib/util/gqlUtil'
const graphql = useStrapiGraphQL()
const {
  data: { posts },
} = await graphql(`
  query {
    posts {
      data {
        id
        attributes {
          title
          thumbnail {
            data {
              attributes {
                url
              }
            }
          }
        }
      }
    }
  }
`)

const postObjects = parseObjectList(posts.data)
</script>

<template>
  <div>
    <ul>
      <li v-for="post in postObjects">
        <nuxt-link :to="'/reviews/' + post.id">
          {{ post.title }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
