<script lang="ts" setup>
defineProps<{
  innerStyle?: string
}>()
</script>

<template>
  <div class="flex justify-center w-full">
    <div class="w-2/3" :class="innerStyle">
      <slot />
    </div>
  </div>
</template>
