<script lang="ts" setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import { HeaderRoute } from '../lib/types/HeaderRoute'

function isActive(route: HeaderRoute): boolean {
  const currentPath: string = computed(() => useRoute().path).value
  return route.path === currentPath
}

const headerRoutes: HeaderRoute[] = [
  { displayName: 'Home', path: '/' },
  { displayName: 'Reviews', path: '/reviews' },
  { displayName: 'Läden', path: '/laeden' },
  { displayName: 'Header-Test', path: '/header-test' },
  { displayName: 'About', path: '/about' },
]
</script>

<template>
  <div class="w-screen relative pb-4">
    <div class="w-screen bg-[#FBC51F] absolute h-14 -z-10" />
    <Container inner-style="flex h-full">
      <div class="flex h-full w-2/3">
        <div
          v-for="route in headerRoutes"
          class="flex items-start justify-center py-4"
        >
          <nuxt-link
            :key="route.displayName"
            :to="route.path"
            class="text-xs text-center uppercase font-semibold align-middle decoration-[2px] underline-offset-[6px] hover:drop-shadow-2xl"
            :class="isActive(route) ? 'underline' : ''"
          >
            {{ route.displayName }}
          </nuxt-link>
        </div>
      </div>
      <div
        class="flex flex-col items-center w-min bg-white text-black px-5 py-3 shadow-2xl border-2 border-black"
      >
        <div class="text-2xl whitespace-nowrap">MUNICH DÖNER</div>
        <div class="text-xs text-gray-500">( macht schöner )</div>
      </div>
      <div class="flex justify-center w-2/3" />
    </Container>
  </div>
</template>
