<script lang="ts" setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import { HeaderRoute } from '../lib/types/HeaderRoute'
import Container from './Container.vue'

function isActive(route: HeaderRoute): boolean {
  const currentPath: string = computed(() => useRoute().path).value
  return route.path === currentPath
}

const headerRoutes: HeaderRoute[] = [
  { displayName: 'Home', path: '/' },
  { displayName: 'Reviews', path: '/reviews' },
  { displayName: 'Läden', path: '/laeden' },
  { displayName: 'Header-Test', path: '/header-test' },
  { displayName: 'About', path: '/about' },
]

function routeHome() {
  const route = useRouter()
  route.push('/')
}
</script>

<template>
  <div class="w-screen px-14 z-50">
    <div class="flex justify-between items-end w-full gap-10 mt-10">
      <!-- LOGO -->
      <div
        class="flex flex-col items-start bg-white text-black px-6 py-4 gap-2 border-4 border-black cursor-pointer"
        @click="routeHome"
      >
        <div class="text-4xl">
          MUNICH<br />
          DÖNER
        </div>
      </div>

      <!-- LINKS -->
      <div class="flex items-center justify-around gap-10 h-14 border-y-4 border-black font-bold bg-white">
        <div v-for="route in headerRoutes" class="h-full grow">
          <div
            class="h-full flex items-center justify-center "
            :class="isActive(route) ? 'border-black text-[#FBC51F] text-lg' : ''"
          >
            <nuxt-link
              :key="route.displayName"
              :to="route.path"
              class="p-2 text-center align-middle hover:underline decoration-[3px] underline-offset-[6px] hover:italic"
            >
              {{ route.displayName }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
