<script lang="ts" setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import { HeaderRoute } from '../lib/types/HeaderRoute'

function isActive(route: HeaderRoute): boolean {
  const currentPath: string = computed(() => useRoute().path).value
  return route.path === currentPath
}

const headerRoutes: HeaderRoute[] = [
  { displayName: 'Home', path: '/' },
  { displayName: 'Reviews', path: '/reviews' },
  { displayName: 'Läden', path: '/laeden' },
  { displayName: 'Header-Test', path: '/header-test' },
  { displayName: 'About', path: '/about' },
]
</script>

<template>
  <div class="flex flex-col w-full h-fit">
    <!-- IMAGE BANNER -->
    <div
      class="w-full h-52 flex items-center justify-center bg-center bg-cover bg-no-repeat"
      style="background-image: url('/images/doener-emoji-wallpaper.png')"
    >
      <!-- LOGO -->
      <div
        class="flex flex-col items-center bg-white text-black px-8 py-6 gap-2 shadow-2xl border-4 border-black"
      >
        <div class="text-5xl">MUNICH DÖNER</div>
        <div class="text-gray-500">( macht schöner )</div>
      </div>
    </div>

    <!-- LINK SECTION -->
    <Container class="border-y-4 border-black font-bold bg-white">
      <div class="flex items-center justify-around gap-10 h-14">
        <div v-for="route in headerRoutes" class="h-full grow">
          <div
            class="h-full flex items-center justify-center"
            :class="
              isActive(route) ? 'border-black text-[#FBC51F] text-lg' : ''
            "
          >
            <nuxt-link
              :key="route.displayName"
              :to="route.path"
              class="p-2 text-center align-middle hover:underline decoration-[3px] underline-offset-[6px] hover:italic"
            >
              {{ route.displayName }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </Container>
  </div>
</template>
