<script lang="ts" setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import { HeaderRoute } from '../lib/types/HeaderRoute'

function isActive(route: HeaderRoute): boolean {
  const currentPath: string = computed(() => useRoute().path).value
  return route.path === currentPath
}

const headerRoutes: HeaderRoute[] = [
  { displayName: 'Home', path: '/' },
  { displayName: 'Reviews', path: '/reviews' },
  { displayName: 'Läden', path: '/laeden' },
  { displayName: 'Header-Test', path: '/header-test' },
  { displayName: 'About', path: '/about' },
]
</script>

<template>
  <!-- IMAGE BANNER -->
  <div class="flex flex-col w-full max-w-screen overflow-x-hidden">
    <div
      class="w-full h-72 flex items-center justify-center bg-center bg-cover bg-no-repeat"
      style="background-image: url('/images/munich-banner-3.jpg')"
    >
      <div
        class="flex flex-col items-center bg-white text-black px-8 py-6 gap-2"
      >
        <div class="text-5xl">MUNICH DÖNER</div>
        <div class="text-gray-500">( macht schöner )</div>
      </div>
    </div>

    <!-- HEADER SECTION -->
    <div class="flex justify-center h-14 items-center text-white bg-black">
      <div class="w-2/3">
        <div class="flex justify-start">
          <div class="flex justify-between gap-10">
            <nuxt-link
              v-for="route in headerRoutes"
              :key="route.displayName"
              :to="route.path"
              :class="isActive(route) ? 'bg-gray-800' : ''"
              class="p-2 rounded-md"
            >
              {{ route.displayName }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
