<script lang="ts" setup>
import {
  LMap,
  LIcon,
  LTileLayer,
  LMarker,
  LTooltip,
  LPopup,
  LControlAttribution,
} from '@vue-leaflet/vue-leaflet'
import 'leaflet/dist/leaflet.css'
import { Restaurant } from '../lib/types/Restaurant'

defineProps<{ restaurants: Restaurant[]; center: [number, number] }>()

const minZoom = 13
const iconSize = 40

const attribution =
  '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'

function log(a) {
  console.log(a)
}
</script>

<template>
  <div>
    <l-map v-model:minZoom="minZoom" :center="center" @move="log('move')">
      <l-tile-layer
        url="https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png"
      ></l-tile-layer>

      <l-control-attribution position="bottomleft" :prefix="attribution">
      </l-control-attribution>

      <l-marker
        v-for="restaurant in restaurants"
        :lat-lng="[restaurant.x, restaurant.y]"
      >
        <l-popup>
          <div class="flex flex-col text-sm gap-2">
            <div class="font-bold">{{ restaurant.name }}</div>
            <div>{{ restaurant.address }}</div>
          </div>
        </l-popup>
      </l-marker>

      <l-marker :lat-lng="[48.150036718266804, 11.565263413460636]">
        <l-icon
          icon-url="/images/doenericon.png"
          :icon-size="[iconSize, iconSize]"
        />
        <l-tooltip> custom icon </l-tooltip>
        <l-popup> lol </l-popup>
      </l-marker>
    </l-map>
  </div>
</template>
