<script lang="ts" setup>
import { Restaurant } from '~~/lib/types/Restaurant'
import {imageUrl} from '~~/lib/util/imageUrl'

defineProps<{ restaurant: Restaurant; selected: boolean }>()
</script>

<template>
  <div
    class="flex gap-4 select-none overflow-hidden border-4"
    :class="selected ? 'bg-[#FBC51F] border-black' : 'border-black'"
  >
    <div class="w-1/3 rounded-[10%_10%_/_0%_50%_50%_0%] overflow-hidden">
      <img :src="imageUrl(restaurant.thumbnail.url)" />
    </div>
    <div class="flex flex-col py-4 gap-4">
      <div class="font-bold">
        {{ restaurant.name }}
      </div>
      <div>
        {{ restaurant.address }}
      </div>
    </div>
  </div>
</template>
