@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-white overflow-x-hidden font-montserrat h-full;
}

body {
    @apply h-full;
}

#__nuxt {
    @apply h-full;
}

h1 {
    @apply text-4xl font-bold mt-5;
}

h2 {
    @apply text-2xl font-bold mt-5 italic;
}

p {
    @apply mt-4;
}

ul {
    @apply list-disc px-4 mt-4;
}

p a {
    @apply text-blue-500 decoration-blue-500 hover:decoration-2 hover:underline;
}