<script lang="ts">
export default {
  layout: false,
}
</script>

<script lang="ts" setup>
const headers = [
  { name: 'HeaderEmoji' },
  { name: 'HeaderEmojiAlt' },
  { name: 'Header' },
  { name: 'HeaderBlub' },
  { name: 'HeaderThin' },
  { name: 'HeaderNoBanner' },
]
const currentHeader = ref<string>(headers[0].name)
</script>

<template>
  <div>
    <HeaderEmoji v-if="currentHeader === 'HeaderEmoji'" />
    <HeaderEmojiAlt v-if="currentHeader === 'HeaderEmojiAlt'" />
    <Header v-if="currentHeader === 'Header'" />
    <HeaderBlub v-if="currentHeader === 'HeaderBlub'" />
    <HeaderThin v-if="currentHeader === 'HeaderThin'" />
    <HeaderNoBanner v-if="currentHeader === 'HeaderNoBanner'" />

    <Container>
      <div class="flex p-2 gap-4 mb-4">
        <button
          v-for="header in headers"
          @click="currentHeader = header.name"
          class="bg-white text-black border-2 p-2"
          :class="currentHeader === header.name ? 'bg-gray-200' : ''"
        >
          {{ header.name }}
        </button>
      </div>
      <Lorem />
    </Container>
  </div>
</template>
