<script lang="ts">
export default {
  layout: 'default',
}
</script>

<script lang="ts" setup>
import { parseObjectList } from '~~/lib/util/gqlUtil'
import { imageUrl } from '~~/lib/util/imageUrl'

const graphql = useStrapiGraphQL()
const {
  data: { posts },
} = await graphql(`
  query {
    posts {
      data {
        id
        attributes {
          title
          thumbnail {
            data {
              attributes {
                url
              }
            }
          }
        }
      }
    }
  }
`)

const postObjects = parseObjectList(posts.data)
</script>

<template>
  <div>
    <!-- SEO Tool Google Search Console  -->
    <Meta
      name="google-site-verification"
      content="Rp_X2cIcTvr_okvovC61bQ6MiQFoylASvoIAQEArB2I"
    />
    <div class="text-2xl bg-red-300">Home</div>
    <div v-for="post in posts.data">
      <nuxt-link :to="'/posts/' + post.id">
        {{ post.attributes.title }}
      </nuxt-link>
    </div>

    <div class="flex flex-col h-40 w-40 border-solid border-2 rounded-md m-6">
      <div
        class="w-full h-40 bg-cover bg-center"
        :style="`background-image: url(${imageUrl(
          postObjects[0].thumbnail.url
        )})`"
      />
      <div>{{ postObjects[0].title }}</div>
    </div>

    <div>
      {{ posts.data }}
      <br />
      <img :src="imageUrl(postObjects[0].thumbnail.url)" alt="" />
    </div>
    <div class="h-screen bg-blue-100"></div>
    <div class="h-screen bg-blue-100"></div>
    <div class="h-screen bg-blue-100"></div>
  </div>
</template>
