<script lang="ts">
export default {
  layout: 'airbnb',
}
</script>

<script lang="ts" setup>
import { Restaurant } from '~~/lib/types/Restaurant'
import { parseObjectList } from '../lib/util/gqlUtil'
const graphql = useStrapiGraphQL()
const {
  data: { restaurants },
} = await graphql(`
  query {
    restaurants {
      data {
        id
        attributes {
          name
          address
          x
          y
          thumbnail {
            data {
              attributes {
                url
              }
            }
          }
        }
      }
    }
  }
`)

const restaurantObjects: Restaurant[] = parseObjectList(restaurants.data)

const filteredRestaurants = ref<Restaurant[]>(
  restaurantObjects.sort((a: Restaurant, b: Restaurant) => {
    return a.id - b.id
  })
)

const mapCenter = ref<[number, number]>([
  48.150036718266804, 11.565263413460636,
])
const selectedRestaurant = ref<Restaurant>(null)

function clickRestaurantInList(restaurant: Restaurant) {
  if (restaurant.id === selectedRestaurant.value?.id) {
    closeCurrentPopup()
    return
  }
  openPopup(restaurant)
  mapCenter.value = [restaurant.x, restaurant.y]
}

function openPopup(restaurant: Restaurant) {
  closeCurrentPopup()
  const markerContainer = document.getElementsByClassName(
    'leaflet-pane leaflet-marker-pane leaflet-zoom-hide'
  )[0]
  // BEWARE: restaurant.id will no longer match with markerContainer.childNodes[index] once elements are filtered from the list
  const restaurantMarker = <HTMLElement>(
    markerContainer.childNodes[restaurant.id - 1]
  )
  restaurantMarker.click()
}

function closeCurrentPopup() {
  const closeButton = document.getElementsByClassName(
    'leaflet-pane leaflet-marker-pane leaflet-zoom-hide'
  )[0] as HTMLElement
  closeButton.click()
}

function clickRestaurantInMap(restaurant: Restaurant) {
  if (restaurant.id === selectedRestaurant.value?.id) {
    selectedRestaurant.value = null
    return
  }
  const listEntry = document.getElementById(restaurant.name + restaurant.id)
  listEntry.scrollIntoView({behavior: 'smooth'})
  selectedRestaurant.value = restaurant
}

function checkIfPopupsClosed() {
  const popups = document.getElementsByClassName('leaflet-popup-content')
  if (popups.length === 0) {
    selectedRestaurant.value = null
  }
}

const showMap = ref<boolean>(false)
onMounted(() => {
  // dumb rerender workaround to prevent leaflet bug that sometimes breaks the site
  setTimeout(() => {
    showMap.value = true
  }, 50)

  // Event listeners to click restaurants in map
  // wait for half a second for the map to be fully loaded
  setTimeout(() => {
    const markerContainer = document.getElementsByClassName(
      'leaflet-pane leaflet-marker-pane leaflet-zoom-hide'
    )[0]

    for (let i = 0; i < markerContainer.childNodes.length; i++) {
      const marker = markerContainer.childNodes[i]
      marker.addEventListener('click', () => {
        clickRestaurantInMap(filteredRestaurants.value[i])
      })
    }
  }, 500)
})
</script>

<template>
<!-- h-[calc(100vh-15rem)] -->
  <div class="h-[calc(100vh-15rem)] flex h-full">
    <div class="flex flex-col w-[40%] overflow-y-auto px-10 py-6 b-52">
      <div
        :id="restaurant.name + restaurant.id"
        v-for="restaurant in filteredRestaurants"
      >
        <RestaurantCard
          :restaurant="restaurant"
          :selected="selectedRestaurant?.id === restaurant.id"
          @click="clickRestaurantInList(restaurant)"
          class="my-4 cursor-pointer"
        />
      </div>
    </div>
    <Map
      id="map"
      :restaurants="filteredRestaurants"
      :center="mapCenter"
      @click="checkIfPopupsClosed"
      v-if="showMap"
      class="w-[60%] border-l-4 border-black"
    />
  </div>
</template>
